$twenty-px: 20px;
$forty-px: 40px;
$block-line: inline-block;
$auto-display: auto;
$flex-display: flex;
$headers-font: 'Roboto', sans-serif;
$buttons-background: rgb(255, 208, 0);
$butons-hover-color: rgb(255, 157, 0);
$light-grey: rgb(195, 195, 195);